*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
 background: linear-gradient(180deg, #f6fbff, #eef6ff);
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img, svg {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

ul {
  list-style: none;
}


