*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #e6faff 0%, #f4f7f6 50%, #ffffff 100%);
  background-attachment: fixed;
  min-height: 100vh;
  font-family: "Barlow", sans-serif;
}

a {
  text-decoration: none;
  font-family: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}

img,
svg {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}
